@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_9pt_SemiCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_9pt_SemiCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_9pt_SemiCondensed-MediumItalic.ttf')
    format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_9pt_SemiCondensed-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_9pt_SemiCondensed-SemiBoldItalic.ttf')
    format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_9pt_SemiCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_9pt_SemiCondensed-BoldItalic.ttf')
    format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
