{% macro logo(className) %}
  <a class="block group {{ className }}" href="#">
    <h1
      class="font-serif text-3xl font-bold tracking-wider text-white group-hover:text-primary transition-colors duration-300"
    >
      LUMINOUS
    </h1>
    <span
      class="block text-[0.55rem] uppercase tracking-[0.4em] text-white/60 group-hover:text-primary/80"
      >Hotels &amp; Resorts</span
    >
  </a>
{% endmacro %}
