{% macro newsCard(item) %}
  <a
    href="#"
    class="group flex flex-col md:flex-row md:items-center gap-2 md:gap-6 border-b border-dashed border-gray-400 pb-6 last:border-0 last:pb-0 transition-colors p-3 -mx-3"
  >
    <time class="text-gray-500 font-medium min-w-[100px]">{{ item.date }}</time>
    <span
      class="inline-block border px-3 py-1 bg-white group-hover:bg-primary group-hover:text-white text-primary text-xs font-semibold rounded-lg min-w-[100px] text-center w-fit transition-colors"
    >
      {{ item.tag }}
    </span>
    <h3
      class="text-gray-800 font-medium group-hover:text-primary transition-colors flex-1"
    >
      {{ item.title }}
    </h3>
  </a>
{% endmacro %}
