@use "datepicker";

.hero-gradient {
  background: linear-gradient(
    to bottom,
    rgba(15, 17, 21, 0.3) 0%,
    rgba(15, 17, 21, 0.6) 50%,
    rgba(15, 17, 21, 1) 100%
  );
}

.hero-image {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 0;

  &.active {
    opacity: 1;
    z-index: 1;
  }

  .ken-burns {
    transform-origin: center center;
    will-change: transform;
    animation: ken-burns 20s ease-out infinite alternate;
  }
}

@keyframes ken-burns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
