<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title | default("Eleventy + Tailwind Starter") }}</title>
    <link rel="stylesheet" href="/assets/css/tailwind.css" />
    <link rel="stylesheet" href="/assets/scss/main.css" />
  </head>

  <body class="bg-gray-50 text-gray-900 font-body custom-scss">
    {% include "components/navbar.njk" %}

    {{ content | safe }}

    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/flowbite.min.js"></script>
  </body>
</html>
