---
layout: layouts/base.njk
title: About Us
permalink: /about/
---

<main class="pt-20 pb-20 min-h-screen">
  <div class="topAbout_bg"></div>
  {% include 'components/about/graphicVisualAbout.njk' %}
  {% include 'components/about/aboutNavigate.njk' %}
  {% include 'components/about/philosophy.njk' %}
  {% include 'components/about/features.njk' %}
  {% include 'components/about/introduction.njk' %}
  {% include "components/footer.njk" %}
</main>
