---
layout: layouts/base.njk
title: Tin tức - Medicare Clinic
permalink: /news/
---

{% from "components/graphicVisual.njk" import graphicVisual %}

<main class=" min-h-screen relative ">
  <div class="relative py-20">
    <div class="cloud cloud-about01 pointer-events-none select-none"></div>
    <div class="cloud cloud-about02 pointer-events-none select-none"></div>
    <div class="cloud cloud-about03 pointer-events-none select-none"></div>
    <div
      class="bg-linear-to-b from-color-10 via-color-10 to-transparent absolute top-0 left-0 right-0 w-full -z-10 h-screen"
    ></div>
    <div class="container mx-auto px-6 py-20 max-w-7xl  ">
      <h1
        class="text-4xl md:text-2xl lg:text-4xl font-bold text-primary mb-4 leading-tight relative"
      >
        Tin tức
      </h1>
      <p
        class="text-sm font-bold tracking-[0.2em] text-gray-800 uppercase pl-1 relative mb-12"
      >
        Hoạt động & Sự kiện
      </p>

      <!-- News List -->
      <div class="md:w-3/4 py-10 animate-on-scroll">
        <div class="flex flex-col gap-6">
          {% from "components/newsCard.njk" import newsCard %}
          {% for item in news %}
            {{ newsCard(item) }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% include "components/footer.njk" %}
</main>
