{% from "components/icons.njk" import icon %}

<section id="introduction" class="py-24 px-4 sm:px-0 bg-color-10  relative ">
  <div class="container mx-auto  max-w-6xl relative z-10">
    <div class="grid md:grid-cols-2 gap-12 lg:gap-20 items-start">
      <!-- Content Column -->
      <div class="space-y-6">
        <div class="text-primary font-bold text-lg tracking-wide">
          Khởi đầu của phòng khám
        </div>

        <h2 class="text-base md:text-xl font-bold text-gray-900 leading-tight">
          Thành lập năm 1996, chúng tôi đồng hành cùng sức khỏe cộng đồng địa
          phương.
        </h2>

        <div class="space-y-6 text-gray-600 leading-relaxed">
          <p>
            Phòng khám được thành lập vào năm 1996. Tại chính mảnh đất này,
            chúng tôi đã đồng hành cùng người dân địa phương trong suốt khoảng
            30 năm qua.
          </p>
          <p>
            Mặc dù kiến thức và kỹ thuật y tế không ngừng đổi mới mỗi ngày,
            nhưng niềm tin vào việc "điều trị gắn liền với cộng đồng" vẫn không
            thay đổi kể từ khi phòng khám mở cửa. Vui lòng liên hệ với chúng tôi
            về bất kỳ vấn đề gì.
          </p>
        </div>
      </div>

      <!-- Image Column -->
      <div class="relative">
        <div class="bg-white p-3 shadow-lg transform rotate-2 max-w-md mx-auto">
          <img
            src="/assets/images/pt-main-about.jpg"
            alt="Clinic History"
            class="w-full h-auto object-cover aspect-4/3"
          />
        </div>
      </div>
    </div>
  </div>
</section>
